        body {
            background-color: #333;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        #gameContainer {
            position: relative;
            background-color: #292929;
            overflow: hidden;
            width: 800px;
            height: 400px;
            margin-bottom: 20px;
            border: 1px solid #000;
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        #score {
            color: #FFF;
            font-size: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
