   body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #222;
      color: #fff;
    }
    #snakeCanvas {
      border: 2px solid #000;
      margin-bottom: 20px;
    }
    button {
      margin: 5px;
      font-size: 24px;
      padding: 15px;
      background-color: #292929;
      color: #fff;
    }
    #score {
      margin-bottom: 10px;
      font-size: 18px;
    }
    #gameOverText {
      display: none;
      font-size: 24px;
      color: red;
      position: absolute;
      z-index: 1;
    }
    #buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
