   body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
      background-color: #222;
      color: #fff;
    }
    button {
      margin: 10px;
      padding: 10px;
      font-size: 16px;
      background-color: #292929;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #555;
    }
    #result {
      color: #fff;
    }
