         body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #222;
            color: #fff;
        }
        #container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .post {
            background-color: #111;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .post img.profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid grey;
            margin-right: 10px;
        }
        .post .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .post .user-info h3 {
            margin: 0;
            margin-left: 5px;
        }
        .post img.meme {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .post p {
            font-size: 16px;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #2a2a2a;
            padding: 10px;    
        }
        .post .info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .post .date {
            font-size: 12px;
            color: #999;
        }
        .like-btn {
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
        }
        footer {
            position: relative;
            width: 100%;
            background-color: #111;
            padding: 20px 0;
            text-align: center;
            font-size: 16px;
            color: #f3f3f3;
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 40px; 
        }
        .span {
            margin-left: -10px;
        }
        img {
            pointer-events: none; 
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
        }

        img[draggable="true"] {
            -webkit-user-drag: none; 
            user-drag: none; 
        }
