        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 85vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background: #111;
            color: #fff;
        }

        .egg {
            width: 150px;
            height: 200px;
            background: linear-gradient(to bottom, #f9e4b7 0%, #f1c27d 100%);
            border-radius: 50% 50% 45% 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 50px auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.1s;
        }

        .egg:active {
            transform: scale(0.95);
        }

        .points {
            margin: 20px;
            font-size: 24px;
        }

        .store {
            display: none;
            flex-direction: column;
            align-items: center;
            background: #333;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }

        .store button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .store button:disabled {
            background: #777;
            cursor: not-allowed;
        }

        .store button:not(:disabled) {
            background: #444;
            color: #fff;
        }

        .store input[type="file"] {
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #openStoreButton {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background: #444;
            color: #fff;
            border: none;
            border-radius: 5px;
            transition: background 0.3s;
        }

        #openStoreButton:hover {
            background: #666;
        }

        .decorationButton {
            background: #7f7f7f;
        }

        .decorationButton:hover {
            background: #a5a5a5;
        }

        .decorationButton:disabled {
            background: #777;
            cursor: not-allowed;
        }
