   img {
            pointer-events: none; 
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
        }

        img[draggable="true"] {
            -webkit-user-drag: none; 
            user-drag: none; 
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #222;
      color: white;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .header {
      background-color: #1E1E1E;
      color: white;
      padding: 20px;
    }

    .header h1 {
      margin: 0;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      background-color: grey;
      padding: 10px;
    }

    .nav ul {
      list-style: none;
      margin: 0;
      padding: 1;
      display: flex;
    }

    .nav li {
      margin: 0 10px;
    }

    .nav a {
      text-decoration: none;
      color: white;
    }

    .nav a:hover {
      color: white;
    }
    

    .main {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
    }

    .article {
      width: 50%;
      box-sizing: border-box;
      padding: 10px;
    }

    .article img {
      width: 150px;
      height: auto;
      border-radius: 5px;
      
    }

    .article h3 {
      margin: 0;
    }

    .article p {
      font-size: 14px;
    }

    .footer {
      background-color: #1E1E1E;
      color: white;
      padding: 20px;
      text-align: center;
    }

     .centro {
      text-align: center;
     }

     a {
     color: grey;
     text-decoration: none;
     }

     a:hover {
     color: #005cc5;
     text-decoration: underline;
     }
