.body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 20px;
    }
    
    #mensaje {
      display: none;
      background-color: #292929;
      color: white;
      padding: 10px;
      border: 1px solid #292929;
      margin-top: 10px;
    }
    
    #aceptarBtn {
      padding: 5px 10px;
      background-color: #bfd5ff;
      color: black;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
