body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 80%; 
  text-align: center;
  margin-bottom: 20px;
}

.api-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  position: relative;
  text-align: center; 
}

.api-container:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 28px; 
  margin-bottom: 15px; 
  text-align: center;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px; 
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}

.copy-button {
  background-color: #007bff;
  color: white;
  padding: 6px 10px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px; 
}

textarea {
  width: calc(100% - 16px); 
  height: auto;
  min-height: 80px; 
  margin-bottom: 8px; 
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 14px; 
}

.api-description {
  font-size: 14px; 
  margin-bottom: 15px; 
  text-align: center; 
}

a {
  color: #00bfff;
  text-decoration: none;
}

a:hover {
  color: #87ceeb;
  text-decoration: underline;
}

img {
    pointer-events: none; 
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
     user-select: none; 
}

img[draggable="true"] {
    -webkit-user-drag: none; 
     user-drag: none; 
}
