body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #222;
      color: white;
    }

a {
  color: grey;
  text-decoration: none;
  
}

 a:hover {
  color: #005cc5;
  text-decoration: underline;
}
    .tutoriales {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #222;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tutorial {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
    }

    .tutorial h2 {
      color: #fff;
    }

    .tutorial p {
      color: #fff;
    }

    header {
      background-color: #222;
      color: white;
      padding: 10px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    pre {
      background-color: #111;
      padding: 5px;
      border-radius: 5px;
      overflow-x: auto;
      margin: 5px 0 0;
    }

    code {
      display: block;
    }
