        body {
            background-color: #111;
            font-family: Arial, sans-serif;
            text-align: center;
            color: #fff;
            padding-top: 50px;
            overflow-y: hidden; 
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
        #gif-container {
            margin-bottom: 20px;
        }
        #retry-button {
            display: none;
            margin-top: -20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .alert {
            display: none;
            color: #ff0000;
            font-size: 18px;
            font-weight: bold;
            margin-top: -20px;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 70vh;
        }
        #loading-gif {
            display: none;
            margin-top: -20px;
        }
        img {
            pointer-events: none; 
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
        }

        img[draggable="true"] {
            -webkit-user-drag: none; 
            user-drag: none; 
        }
